<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
	<class name="sample.RegisterTest">
		<methods>
			<!-- need to disable recaptcha -->
			<exclude name="RegistAlert" />
			<exclude name="SuccessRegist" />
		</methods>
	</class>
	<class name="sample.ForgotPasswordTest">
		<methods>
			<!-- need to disable recaptcha -->
			<exclude name="ForgotPasswordAlert" />
			<exclude name="SuccessForgotPassword" />
		</methods>
	</class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
